<div class="text-center">
    <h1 class="display-4">Soy Tomás Silva</h1>

    <h2>Soy un desarrollador novato que se quiere especializar en .NET</h2>

    <img id="foto"
         src="~/Images/foto.jpg" alt="Foto de Tomás" />
</div>
<div class="text-center">
    <img id="dotnet-imagen"
         src="~/Images/dotnetimage.png"
         alt="Foto de dotnet" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lectus lorem, semper in ullamcorper a, rutrum quis turpis.
            Pellentesque interdum dapibus pellentesque. Aenean sodales consequat dui maximus tempor. In ac nulla malesuada nisl molestie
            convallis ut nec risus. Proin placerat urna quam, a commodo enim facilisis quis. Mauris convallis efficitur suscipit.
            Suspendisse sagittis ex et risus suscipit tincidunt. Proin vitae pharetra arcu. Pellentesque metus arcu, facilisis eu arcu eu,
            egestas sagittis sem. Donec condimentum dui enim, sed hendrerit sapien molestie non. Curabitur malesuada, felis a iaculis tempus,
            orci metus commodo nunc, sed condimentum mauris est ut nisi. Quisque ac egestas nunc.
        </p>
    </div>
</div>